<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @book.title %>
</p>

<p>
  <b>Author:</b>
  <%= @book.author %>
</p>

<p>
  <b>Kind:</b>
  <%= @book.kind.title %>
</p>

<p>
  <b>Started:</b>
  <%= @book.started %>
</p>

<p>
  <b>Ended:</b>
  <%= @book.ended %>
</p>